
*{
    margin: 0;
    padding: 0;
}
    
.cabecalho{
    background-color: rgb(230, 220, 25);
    color:aqua;
    display:flex;
    justify-content: space-around;
    padding: 240px 0;
    font-size: 50px;
}

.cabecalhoLiataItem{ 
     display: inline-block;
     margin: 0 120px;
     padding: 78px 0;
}

.sobreImagem{
           width:50px;

}

.sobre{
        background-image: linear-gradient(#36d7cc, #FFFFFF);
        color:rgb(241, 134, 203) ;
        display:flex ;
        justify-content:center;
        align-items:center;
        padding:370px 0; 
}

.sobreConteudo{
       width: 2px;

}

.sobreTitulo{
         padding: 100px 50px;
}




