
*{
    margin: 0;
    padding: 0;
}
    
.Cabecalho{
    background-color: rgb(14, 211, 208);
    color:rgb(0, 0, 0);
    display:flex;
    justify-content: space-between;
    padding: 1px 0;
    font-size: 20px;
}

.CabecalhoListaItem{ 
     display: inline-block;
     margin: 10px 16px;
     padding: 24px 0;
}

.sobreImagem{
           width:30%;

}

.sobre{
        background-image: linear-gradient(#fa80fa, #244483);
        color:rgb(0, 0, 0) ;
        display:flex ;
        justify-content:center;
        align-items:center;
        padding: 70px 100px ; 
}

.sobreConteudo{
       width: 450px;

}

.sobreTitulo{
         padding: 100px 30px;
}




